<!-- Simple header html -->
<div id="header-status" class="header">
  <img class="onlyloanz-logo" src="assets/images/logo.png" alt="OnlyLoanz Logo">
  <!-- <ngb-progressbar showValue="true" type="success" [value]="formData.percentFormComplete">
    </ngb-progressbar> -->

  <div class="board-inner" id="status-buttons">
    <ul class="nav nav-tabs" id="myTab">
      <li>
        <a routerLink="/personal" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" data-toggle="tab" title="personal">
                    <span id="one" class="round-tabs one">
                      1
                    </span>
                </a>
        <div class="dash"></div>
      </li>

      <li>
        <a routerLink="/income" routerLinkActive="active" data-toggle="tab" title="income">    
                    <span id="two" class="round-tabs two">
                        2
                    </span>
                </a>
        <div class="dash"></div>
      </li>

      <li>
        <a routerLink="/address" routerLinkActive="active" data-toggle="tab" title="address">    
                    <span id="three" class="round-tabs three">
                       3
                    </span>
                </a>
        <div class="dash"></div>
      </li>
      <li>
        <a routerLink="/bank" routerLinkActive="active" data-toggle="tab" title="bank">
                    <span id="four" class="round-tabs four">
                        4
                    </span> 
                </a>
        <div class="dash"></div>
      </li>
      <li>
        <a routerLink="/result" routerLinkActive="active" data-toggle="tab" title="completed">
                    <span id="five" class="round-tabs five">
                       5
                    </span>
                </a>
      </li>

    </ul>
    <div class="clearfix"></div>
  </div>

</div>