<!--<form #workForm="ngForm" class="editForm" novalidate>-->
<form #bankForm="ngForm" name="bankForm" class="editForm" novalidate>
    <div class="tab-pane fade in active">
        <h4 class="head text-center">{{title}}</h4>
        <br/>
        <div class='col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8'>
            <div class="row">
                <div class='col-xs-12 col-sm-6'>
                    <div class="form-group">
                        <label class="control-label" for="bankName">Bank Name</label>
                        <input class="form-control input-md" 
                                (keyup)="getBankInformation()"
                                (blur)="getBankRoutingInformation()"
                                #bankName="ngModel" 
                                required 
                                uppercase
                                placeholder="Ex. Bank of America"
                                name="bankName" 
                                id="user-bank"
                                [ngbTypeahead]="search" 
                                [resultFormatter]="formatter"
                                [(ngModel)]="bank.bankName">
                        <div style="padding-top: 5px; font-size: 12px; font-style: italic;" *ngIf="bankName.invalid && (bankName.dirty || bankName.touched)" [hidden]="bankName.valid">
                            <div *ngIf="bankName.errors.required">This field is required</div>
                        </div>
                    </div>
                </div>
                <div class='col-xs-12 col-sm-6'>
                    <div class="form-group">
                        <label class="control-label" for="accountType">Account Type</label>
                        <select class="form-control input-md" 
                                #accountType="ngModel" 
                                required
                                name="accountType" 
                                [(ngModel)]="bank.accountType">
                            <option value="" disabled selected>Select</option>
                            <option value="Checking">Checking</option>
                            <option value="Savings">Savings</option>
                        </select>
                        <div style="padding-top: 5px; font-size: 12px; font-style: italic;" *ngIf="accountType.invalid && (accountType.dirty || accountType.touched)" [hidden]="accountType.valid">
                            <div *ngIf="accountType.errors.required">This field is required</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class='col-xs-12 col-sm-6'>
                    <div class="form-group">
                        <label class="control-label" for="accountNumber">Account Number</label>
                        <input class="form-control input-md" 
                                #accountNumber="ngModel" 
                                required 
                                minlength="6"
                                maxlength="14"
                                name="accountNumber" 
                                type="text" 
                                placeholder="6 to 17 digits"
                                [(ngModel)]="bank.accountNumber">
                        <div style="padding-top: 5px; font-size: 12px; font-style: italic;" *ngIf="accountNumber.invalid && (accountNumber.dirty || accountNumber.touched)" [hidden]="accountNumber.valid">
                            <div *ngIf="accountNumber.errors.required">This field is required</div>
                            <div *ngIf='accountNumber.errors.minlength'>Too short</div>
                            <div *ngIf='accountNumber.errors.maxlength'>Too long</div>
                        </div>
                    </div>
                </div>
                <!--<div *ngIf="accountNumber.valid">-->
                    <div style="display: none;" id="routing-div" class='col-xs-12 col-sm-6'>
                        <div class="form-group">
                            <label class="control-label" for="routingNumber">ABA / Routing Number</label>
                            <label style="font-size: 12px;" class="control-label" for="routingNumberMessage">Please verify your routing number</label>
                            <input class="form-control input-md"
                                    id="user-routing" 
                                    #routingNumber="ngModel" 
                                    validateABA
                                    required 
                                    name="routingNumber" 
                                    type="text" 
                                    placeholder="9 digits"
                                    [(ngModel)]="bank.routingNumber">
                            <div style="padding-top: 5px; font-size: 12px; font-style: italic;" *ngIf="routingNumber.invalid && (routingNumber.dirty || routingNumber.touched)" [hidden]="routingNumber.valid">
                                <div *ngIf="routingNumber.errors.required">This field is required</div>
                                <div id="validateABA" *ngIf="routingNumber.errors.validateABA">Please provide a valid ABA/Routing number</div>
                            </div>
                        </div>
                    </div>
                <!--</div>-->
            </div>
            <div class="row">
                <div>
                    <div class="col-xs-12 col-sm-12">
                        <label class="control-label" for="bankTimeYears">Time at Bank</label>
                    </div>
                    <div class="form-group">
                        <div class='col-xs-6 col-sm-6'>
                            <select class="form-control input-md" 
                                    #bankTimeYears="ngModel" 
                                    required 
                                    name="bankTimeYears" 
                                    [(ngModel)]="bank.bankTimeYears">
                                <option value="" disabled selected>Years</option>
                                <option value="0">0</option>
                                <option value="1">1 year</option>
                                <option value="2">2 years</option>
                                <option value="3">3 years</option>
                                <option value="4">4 years</option>
                                <option value="5">5 years</option>
                                <option value="6">6 years</option>
                                <option value="7">7 years</option>
                                <option value="8">8 years</option>
                                <option value="9">9 years</option>
                                <option value="10">10 years</option>
                                <option value="12">12 years</option>
                                <option value="15">15 years</option>
                                <option value="20">20+ years</option>
                            </select>
                            <div style="padding-top: 5px; font-size: 12px; font-style: italic;" *ngIf="bankTimeYears.invalid && (bankTimeYears.dirty || bankTimeYears.touched)" [hidden]="bankTimeYears.valid">
                            <div *ngIf="bankTimeYears.errors.required">This field is required</div>
                            </div>
                        </div>
                        <div class='col-xs-6 col-sm-6'>
                            <select class="form-control input-md" 
                                    #bankTimeMonths="ngModel" 
                                    required 
                                    name="bankTimeMonths" 
                                    [(ngModel)]="bank.bankTimeMonths">
                                <option value="" disabled selected>Months</option>
                                <option value="0">0</option>
                                <option value="1">1 month</option>
                                <option value="2">2 months</option>
                                <option value="3">3 months</option>
                                <option value="4">4 months</option>
                                <option value="5">5 months</option>
                                <option value="6">6 months</option>
                                <option value="7">7 months</option>
                                <option value="8">8 months</option>
                                <option value="9">9 months</option>
                                <option value="10">10 months</option>
                                <option value="11">11 months</option>
                            </select>
                            <div style="padding-top: 5px; font-size: 12px; font-style: italic;" *ngIf="bankTimeMonths.invalid && (bankTimeMonths.dirty || bankTimeMonths.touched)" [hidden]="bankTimeMonths.valid">
                                <div *ngIf="bankTimeMonths.errors.required">This field is required</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group text-center space-20">
            <button class="btn btn-outline-rounded btn-default" (click)="goToPrevious(bankForm)"> <span style="margin-right:10px;" class="glyphicon glyphicon-arrow-left"></span> Previous</button>
            <button class="btn btn-outline-rounded btn-info" [disabled]="!bankForm.valid" (click)="goToNext(bankForm)"> Next <span style="margin-left:10px;" class="glyphicon glyphicon-arrow-right"></span></button>
        </div>
    </div>
</form>

