.tab-content .tab-pane{
    padding-top: 20px;
}

.alert {
  padding: 8px;
  margin-bottom: 8px;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}
.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

.ng-touched.ng-invalid:not(form) {
  /*background-color: #ffd1d1;*/
  border: 2px solid red;
  transition: border .2s linear;
  box-shadow: 0 0 4px 1px red;
}

form.result-form.ng-invalid {
  /*background-color: #ffd1d1;*/
  border: 2px solid red;
  transition: border .2s linear;
  box-shadow: 0 0 4px 1px red;
}