.btn-default {
    border-color: #ccc;
}

.tab-content .choice {
  text-align: center;
  cursor: pointer;
  margin-top: 38px;
}

.tab-content .choice i {
    font-size: 32px;
    line-height: 55px;
}

.btn-radio {
	width: 100%;
}
.img-radio {
	opacity: 0.8;
	margin-bottom: 5px;
}

.space-20 {
    margin-top: 20px;
}

/* active buttons */
#status-buttons a.active span.round-tabs.one { 
    background: rgb(34, 194, 34); 
    color: #fff
}

#status-buttons a.active span.round-tabs.two { 
    background: #febe29; 
    color: #fff
}

#status-buttons a.active span.round-tabs.three { 
    background: #3e5e9a; 
    color: #fff
}

#status-buttons a.active span.round-tabs.four { 
    background: #f1685e; 
    color: #fff
}

#status-buttons a.active span.round-tabs.five { 
    background: #999;
    color: #fff
}


.iradio_buttons {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 22px;
    height: 22px;
    background: #febe29 no-repeat;
    border: none;
    cursor: pointer;
}
.iradio_buttons {
    background-position: -120px 0;
}
.iradio_buttons.hover {
    background-position: -144px 0;
}
.iradio_buttons.checked {
    background-position: -168px 0;
}

h4.head.text-center:not(:first-child) {
    margin-top: 25px;
    text-align: left;
}

form[name=personalForm] h4.head.text-center:first-child {
    background-color: rgb(34, 194, 34);
    color: white;
    padding: 25px;
}

form[name=incomeForm] h4.head.text-center:first-child {
    background-color:#febe29;
    color: white;
    padding: 25px;
}

form[name=addressForm] h4.head.text-center:first-child {
    background-color:#3e5e9a;
    color: white;
    padding: 25px;
}

form[name=bankForm] h4.head.text-center:first-child {
    background-color:#f1685e;
    color: white;
    padding: 25px;
}

.radio span.option {
    width: 67px;
    padding-right: 1px;
    display: inline-block;
    float: left;
    line-height: 0;
    margin: 15px;
}

.radio-militaryService span.option {
    width: 97px;
    margin: 10px;
}

@media (max-width: 1200px) {
    .radio-militaryService span.option {
        margin-right: -1px;
    }
}

@media (min-width: 767px) and (max-width: 990px) {
    .radio-militaryService span.option {
        margin-right: 35px;
    }
}

.radio label {
    cursor: pointer;
    background-color: rgb(34, 194, 34);
    color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 25px 15px;
    height: 50px;
    width: 105px;
}

.radio:after {
  content: "";
  display: table;
  clear: both;
}

.radio input[type="radio"]:hover {
    background: rgb(34, 194, 34);
}

.radio input[type="radio"] {
    height: 50px;
    width: 100px;
    color: transparent;
    opacity: 0;
    cursor: pointer;
    margin: 0;
}

.radio input[type="radio"]:checked+label {
    /*border: 2px solid rgb(34, 194, 34);
    background-color: rgba(34, 194, 34, 0.5);*/
    box-shadow: 0 0 4px 1px rgb(34, 194, 34);
}

.form-control {
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    box-shadow: none;
}

/*Snippets from Bootstrap 4.0.0*/

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}

.dropdown-item {
    font-size: 14px;
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-item:hover, .dropdown-item:focus {
    color: #16181b;
    text-decoration: none;
    background-color: #f8f9fa;
}

.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #007bff;
}