body{
	padding:85px 0;
	margin:0;
	color:#333;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	height:100%;
	width:100%;
	font-size:14px;
}

button{
	background-color: #E0E0E0;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: block;
	font-size: 16px;
	border-radius: 2px;
	margin:0 auto;
}

p{
	color:#737373;
	line-height: 20px;
}

p small{
	line-height: 14px;
}

a{
color:#333;}
/*pre{
	display: none;
}*/

.header{
	top:0;
	height:85px;
	z-index: 1000;
	width:100%;
	overflow: hidden;
	background-color: #2a333b;
	position: fixed;
}

.header .onlyloanz-logo{
	padding: 10px;
    height: 65px;
}

.tab-content .tab-pane{
	position: relative;
 }
 .tab-content .head{
	 font-size: 25px;
	 text-transform: uppercase;
	 margin: 75px 0 40px 0;
	 padding:0 0 5px 0;
	 border-bottom:1px solid #fafafa;
 }

.form-header{
	width:100%;
	position:fixed;
	top:0;
	left:0;
	border-bottom:1px solid #E0E0E0;
	height: 80px;
	overflow: hidden;
	background-color:#2a333b;
	z-index:1000;
}

.logo{
	height:100%;
	margin-left:20px;
}

.logo img{
	height: 70px;
	margin-top: 7px;
}

.board{
	position: relative;
	margin: 20px auto 0 auto;
	width: 465px;
}



h1,h2,h3,h4,h5,h6{
	font-weight:normal;
	text-align: center;
}

h3,h4{
	font-size:24px;
	padding:0;
	margin:0;
}

label{
	margin:0 0 5px 0;
	color:#737373;
}

label,input{
	display: inline-block;
	
}

.form-group{
	clear:both;
	position: relative;
	margin:20px auto 0 auto;
}

.form-group .form-label{
	width:49%;
	display: inline-block;
	vertical-align: top;
	padding-top:8px;
}
.form-group .form-input{
	width:50%;
	display: inline-block;
	vertical-align: top;
}

.form-group .form-input select,.form-group .form-input input{
	width:100%;
}

select{
	-webkit-appearance: none;
      -moz-appearance: none;
	  appearance: none;
	  width:100%;
	  background-image: url("../images/downarrow.png");
	  background-size: 25px;
	  background-repeat: no-repeat;
	  background-position: right;
	}

input,select{
	text-indent: 5px;
    padding: 8px 0;
	border-radius: 3px;
	border:1px solid #E0E0E0;
}

input[type="text"],select,.control-label{
	width:49%;
	display: inline-block;
	vertical-align: top;
}

.text-danger{
	font-style: italic;
	text-align: center;
	color: #00a3cc;
	margin-bottom:20px;
}

.warning-text{
	font-style:italic;
	font-size:12px;
	margin-bottom:10px;
	color:#ff6666;
}

.board-inner{ 
	width: 235px;
    float: right;
}

.board .nav-tabs {
    position: relative;
    /* border-bottom: 0; */
    /* width: 80%; */
    /* margin: 40px auto; */
    margin-bottom: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
	list-style: none;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
}
.nav-tabs>li {
    display: inline-block;
}
.nav>li {
    position: relative;
    display:inline-block;
}

.nav-tabs > li a {
    width: 30px;
    height: 30px;
    border-radius: 100%;
	padding: 0;
	display: inline-block;
}

.nav-tabs li .dash{
	display: inline-block;
    background-color: #fff;
    width: 5px;
    height: 4px;
    vertical-align: top;
    margin-top: 17px;
    margin-right: -4px;
}

.nav-tabs>li>a {
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}

#status-buttons a.active span.round-tabs {
	color: #fff;
	background:rgba(255,255,255,.4);
}

a span.round-tabs {
	color:#fff;
	background:transparent;
	border: 3px solid #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    border-radius: 100px;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 14px;
}

.checkbox-div.form-group{
	display: inline-block;
}

.checkbox-div{
	position: relative;
	display: inline-block;
	width:49%;
	padding:5px 0;
}

.checkbox-div input[type=checkbox] {
    visibility: hidden;
}

.checkbox-div label{
	cursor: pointer;
    position: absolute;
	width:25px;
	height:25px;
    top: 0;
    left: 0;
	border:1px solid #ddd;
	border-radius: 2px;
}

.checkbox-div label:after {
    opacity: 0.2;
    content: '';
    position: absolute;
    width: 9px;
    height: 5px;
    background: transparent;
    top: 6px;
    left: 7px;
    border: 3px solid #22c222;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
}

.checkbox-div label:hover::after {
    opacity: 0.3;
}

.checkbox-div input[type=checkbox]:checked + label:after {
    opacity: 1;
}


.radio {
position: relative;
width: 100%;
display: inline-block;
overflow: hidden;
}

.radio:before {
    content: "";
    display: table;
    clear: both;
}

.radio span.option {
	display: inline-block;
	position: relative;
	vertical-align: top;
    line-height: 0;
    width: 24%;
}

.radio input[type=radio] {
	position: absolute;
	width: 100%;
	height: 100%;
    color: transparent;
    opacity: 0;
    cursor: pointer;
    margin: 0;
}

.radio input[type=radio]:checked+label {
    color: #fff;
    background-color: #22c222;
}

.radio label {
    cursor: pointer;
    background-color:#f0f0f0;
    color: #333;
	border-radius: 4px;
	line-height: 15px;
    font-weight: 700;
    width: 100%;
	height: 65px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.radio label p{
	margin:0;
}

input:-webkit-autofill{background-color: transparent !important;}

.email-domain{
	margin-top:10px;
}

.email-domain button{
	width:24%;
	display: inline-block;
	padding:10px 0;
	background-color: transparent;
	color:#333;
	border:1px solid #e0e0e0;
	font-size:12px;
}

a span.completed-tabs {
	color: #000!important;
	background-color: #fff!important;
}

.progress {
    display: inline-block;
    height: 42px;
    width: 75%;
}

.progress-bar span {
    position: relative;
    top: 10px;
    font-size: 25px;
}

form[name=incomeForm] .radio, form[name=addressForm] .radio,form[name=bankForm] .radio{
	width:100%;

}

.buttons-group button{
	display: inline-block;
}

.result-form .checkbox-div{
	position: relative;
	float:left;
    width: 28px;
    padding: 5px 0;
    margin: 3px 7px 0 0;
    vertical-align: top;
}

.result-form label{
	display: inline-block;
	line-height: 20px;
}

@media( min-width : 900px ){
	.board{
		width: 570px;
	}

 .radio span.option{
		width:24%;
	}
}

@media( max-width : 580px ){
	.header{
		text-align: center;
		height:140px;
	}

	.header .onlyloanz-logo{
		width:60%;
		height:auto;
	}
	.nav{
		margin:0 auto;
	}

	.board-inner{
		margin:0 auto;
		float:none;
		text-align: center;
	}
}


@media( max-width : 490px ){
	.board{
		width:95%;
		margin:0 auto;
	}
}


@media( max-width : 400px ){
	input[type="text"], select, .control-label{
		width:100%;
	}

 .radio span.option{
		width:49%;
	}
	
	.radio {
		width: 100%;
	}

	.email-domain button {
		width: 49%;
		margin-top: 5px;}
}
