<section style="background:#efefe9;">
  <div class="container">
    <div class="board">
      <!-- Simple header html) -->
      <div id="header-status" class="header row">
        <div class='col-xs-offset-1 col-xs-10 col-sm-10'>
          <img class="onlyloanz-logo" src="assets/images/logo.png" alt="OnlyLoanz Logo">
          <ngb-progressbar showValue="true" type="success" (change)="updatePercent()" [value]="formData.percentFormComplete">
          </ngb-progressbar>
        </div>
      </div>
      <!-- Navigation Area (Circular Tabs) -->
      <msw-navbar></msw-navbar>
      <!-- End Navigation Area (Circular Tabs) -->

      <!-- Content Area -->
      <div class="tab-content">
        <!-- Routed view  -->
        <router-outlet></router-outlet>
      </div>
      <!-- End Content Area -->
    </div>

    <!-- For Debugging: show our formData as it is being typed -->
    <pre>{{ formData | json }}</pre>
  </div>
</section>
