<form #incomeForm="ngForm" name="incomeForm" class="editForm" novalidate>
    <div class="tab-pane fade in active">
        <h3 class="head text-center">{{title}}</h3>
        <br/>
        <div class='col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-10'>
            <div class='row'>
                    
                        <div class='col-xs-12 col-sm-12'>
                            <label class="control-label" for="title">Income Source</label>
                        </div>
                        <div class='col-xs-12 col-sm-12'>
                            <div class="form-group">
                                <!--<label class="control-label" for="title">Title</label>-->
                                <div class="radio radio-incomeSource" type="radio">
                                    <span class="option">
                                        <input #incomeSource="ngModel" required name="incomeSource" id="incomeSource" value="EmployedFullTime" [(ngModel)]="income.incomeSource" type="radio">
                                        <label>
                                            Full Time
                                        </label>
                                    </span>
                                    <span class="option">
                                        <input #incomeSource="ngModel" required name="incomeSource" id="incomeSource" value="EmployedPartTime" [(ngModel)]="income.incomeSource" type="radio">
                                        <label>
                                            Part Time
                                        </label>
                                    </span>
                                    <span class="option">
                                        <input #incomeSource="ngModel" required name="incomeSource" id="incomeSource" value="SelfEmployed" [(ngModel)]="income.incomeSource" type="radio">
                                        <label style="padding: 15px;">
                                            Self <p class="radio-label">Employed</p>
                                        </label>
                                    </span>
                                    <span class="option">
                                        <input #incomeSource="ngModel" required name="incomeSource" id="incomeSource" value="UnemployedBenefits" [(ngModel)]="income.incomeSource" type="radio">
                                        <label style="padding: 19px 0 31px">                                
                                            Unemployed <p class="radio-label">Benefits</p>
                                        </label>
                                    </span>
                                    <span class="option">
                                        <input #incomeSource="ngModel" required name="incomeSource" id="incomeSource" value="Retired" [(ngModel)]="income.incomeSource" type="radio">
                                        <label>                                
                                            Retired
                                        </label>
                                    </span>
                                    <span class="option">
                                        <input #incomeSource="ngModel" required name="incomeSource" id="incomeSource" value="DisabilityBenefits" [(ngModel)]="income.incomeSource" type="radio">
                                        <label style="padding: 18px 0;">                                
                                            Disability <p class="radio-label">Benefits</p>
                                        </label>
                                    </span>
                                </div>
                            </div>
                            <div class="prefix-error-message" *ngIf="(jobTitle.touched)" style="padding: 0 0 5px 0; font-size: 16px; color: red;" [hidden]="incomeSource.valid">
                                Please select your income source before continuing ^
                            </div>
                        </div>
                <div 
                *ngIf="incomeSource.value == 'EmployedFullTime' || incomeSource.value == 'EmployedPartTime' || incomeSource.value == 'EmployedTemporary' || incomeSource.value == 'SelfEmployed'"
                >
                    <div class='col-xs-12 col-sm-12'>
                        <div class="form-group">
                            <label class="control-label" for="workphone">Employer Name</label>
                            <input class="form-control input-md"
                                    #employerName="ngModel" 
                                    required name="employername"
                                    type="text" 
                                    placeholder="Employer name" 
                                    [(ngModel)]="income.employerName">
                            <div style="padding-top: 5px; font-size: 12px; font-style: italic;" *ngIf="employerName.invalid && (employerName.dirty || employerName.touched)" [hidden]="employerName.valid">
                                <div *ngIf="employerName.errors.required">This field is required</div>
                            </div>
                        </div>
                    </div>
                    <div class='col-xs-12 col-sm-12'>
                        <label class="control-label" for="title">Payment Type</label>
                    </div>
                    <div class='col-xs-12 col-sm-12'>
                        <div class="form-group">
                            <!--<label class="control-label" for="title">Title</label>-->
                            <div class="radio radio-paymentType" type="radio">
                                <span class="option">
                                    <input #paymentType="ngModel" required name="paymentType" id="paymentType" value="RegionalDirectDeposit" [(ngModel)]="income.paymentType" type="radio">
                                    <label style="padding: 15px 0;">
                                        Direct Deposit <p class="radio-label">(US Bank)</p>
                                    </label>
                                </span>
                                <span class="option">
                                    <input #paymentType="ngModel" required name="paymentType" id="paymentType" value="NonRegionalDirectDeposit" [(ngModel)]="income.paymentType" type="radio">
                                    <label style="padding: 15px 0;">
                                        Direct Deposit <p class="radio-label">(Other country)</p>
                                    </label>
                                </span>
                                <span class="option">
                                    <input #paymentType="ngModel" required name="paymentType" id="paymentType" value="Cheque" [(ngModel)]="income.paymentType" type="radio">
                                    <label>
                                        Check
                                    </label>
                                </span>
                                <span class="option">
                                    <input #paymentType="ngModel" required name="paymentType" id="paymentType" value="Cash" [(ngModel)]="income.paymentType" type="radio">
                                    <label>                                
                                        Cash
                                    </label>
                                </span>
                            </div>
                        </div>
                        <div class="prefix-error-message" *ngIf="(jobTitle.touched)" style="padding: 0 0 5px 0; font-size: 16px; color: red;" [hidden]="paymentType.valid">
                            Please select your payment type before continuing ^
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="incomeSource.value == 'EmployedFullTime' || incomeSource.value == 'EmployedPartTime' || incomeSource.value == 'EmployedTemporary' || incomeSource.value == 'SelfEmployed'">
                <div class="row">
                    <div class='col-xs-12 col-sm-12'>
                        <label class="control-label" for="title">Years at employer</label>
                    </div>
                    <div class='col-xs-12 col-sm-12'>
                        <div class="form-group">
                            <!--<label class="control-label" for="title">Title</label>-->
                            <div class="radio radio-employmentTime" type="radio">
                                <span class="option">
                                    <input #employmentYears="ngModel" required name="employmentYears" id="employmentYears" value="0" [(ngModel)]="income.employmentYears" type="radio">
                                    <label>
                                        0
                                    </label>
                                </span>
                                <span class="option">
                                    <input #employmentYears="ngModel" required name="employmentYears" id="employmentYears" value="1" [(ngModel)]="income.employmentYears" type="radio">
                                    <label>
                                        1
                                    </label>
                                </span>
                                <span class="option">
                                    <input #employmentYears="ngModel" required name="employmentYears" id="employmentYears" value="2" [(ngModel)]="income.employmentYears" type="radio">
                                    <label>
                                        2
                                    </label>
                                </span>
                                <span class="option">
                                    <input #employmentYears="ngModel" required name="employmentYears" id="employmentYears" value="3" [(ngModel)]="income.employmentYears" type="radio">
                                    <label>                                
                                        3
                                    </label>
                                </span>
                                <span class="option">
                                    <input #employmentYears="ngModel" required name="employmentYears" id="employmentYears" value="4" [(ngModel)]="income.employmentYears" type="radio">
                                    <label>                                
                                        4
                                    </label>
                                </span>
                                <span class="option">
                                    <input #employmentYears="ngModel" required name="employmentYears" id="employmentYears" value="5" [(ngModel)]="income.employmentYears" type="radio">
                                    <label>                                
                                        5
                                    </label>
                                </span>
                                <span class="option">
                                    <input #employmentYears="ngModel" required name="employmentYears" id="employmentYears" value="6" [(ngModel)]="income.employmentYears" type="radio">
                                    <label>                                
                                        6
                                    </label>
                                </span>
                                <span class="option">
                                    <input #employmentYears="ngModel" required name="employmentYears" id="employmentYears" value="7+" [(ngModel)]="income.employmentYears" type="radio">
                                    <label>                                
                                        7+
                                    </label>
                                </span>
                            </div>
                        </div>
                        <div class="prefix-error-message" *ngIf="(jobTitle.touched)" style="padding: 0 0 5px 0; font-size: 16px; color: red;" [hidden]="employmentYears.valid">
                            Please select years at employer before continuing ^
                        </div>
                    </div>
                    <div class='col-xs-12 col-sm-12'>
                        <label class="control-label" for="title">Months at employer</label>
                    </div>
                    <div class='col-xs-12 col-sm-12'>
                        <div class="form-group">
                            <!--<label class="control-label" for="title">Title</label>-->
                            <div class="radio radio-employmentTime" type="radio">
                                <span class="option">
                                    <input #employmentMonths="ngModel" required name="employmentMonths" id="employmentMonths" value="0" [(ngModel)]="income.employmentMonths" type="radio">
                                    <label>
                                        0
                                    </label>
                                </span>
                                <span class="option">
                                    <input #employmentMonths="ngModel" required name="employmentMonths" id="employmentMonths" value="3" [(ngModel)]="income.employmentMonths" type="radio">
                                    <label>
                                        3
                                    </label>
                                </span>
                                <span class="option">
                                    <input #employmentMonths="ngModel" required name="employmentMonths" id="employmentMonths" value="6" [(ngModel)]="income.employmentMonths" type="radio">
                                    <label>
                                       6
                                    </label>
                                </span>
                                <span class="option">
                                    <input #employmentMonths="ngModel" required name="employmentMonths" id="employmentMonths" value="9" [(ngModel)]="income.employmentMonths" type="radio">
                                    <label>                                
                                        9
                                    </label>
                                </span>
                            </div>
                        </div>
                        <div class="prefix-error-message" *ngIf="(jobTitle.touched)" style="padding: 0 0 5px 0; font-size: 16px; color: red;" [hidden]="employmentYears.valid">
                            Please select months at employer before continuing ^
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                    <div class='col-xs-12 col-sm-12'>
                        <label class="control-label" for="title">Payment Frequency</label>
                    </div>
                    <div class='col-xs-12 col-sm-12'>
                        <div class="form-group">
                            <!--<label class="control-label" for="title">Title</label>-->
                            <div class="radio radio-payFrequency" type="radio">
                                <span class="option">
                                    <input #payFrequency="ngModel" required name="payFrequency" id="payFrequency" value=" Weekly" [(ngModel)]="income.payFrequency" type="radio">
                                    <label>
                                        Weekly
                                    </label>
                                </span>
                                <span class="option">
                                    <input #payFrequency="ngModel" required name="payFrequency" id="payFrequency" value=" Bi-weekly" [(ngModel)]="income.payFrequency" type="radio">
                                    <label>
                                        Bi-weekly
                                    </label>
                                </span>
                                <span class="option">
                                    <input #payFrequency="ngModel" required name="payFrequency" id="payFrequency" value="Semi-monthly" [(ngModel)]="income.payFrequency" type="radio">
                                    <label>
                                        Semi-monthly
                                    </label>
                                </span>
                                <span class="option">
                                    <input #payFrequency="ngModel" required name="payFrequency" id="payFrequency" value="Monthly" [(ngModel)]="income.payFrequency" type="radio">
                                    <label>                                
                                        Monthly
                                    </label>
                                </span>
                            </div>
                        </div>
                        <div class="prefix-error-message" *ngIf="(jobTitle.touched)" style="padding: 0 0 5px 0; font-size: 16px; color: red;" [hidden]="payFrequency.valid">
                            Please select your your payment type before continuing ^
                        </div>
                    </div>                
                <!--<div class='col-xs-12 col-sm-12'>
                    <div class="form-group">
                        <label class="control-label" for="payFrequency">Pay Frequency</label>
                        <select class="form-control input-md" 
                                #payFrequency="ngModel" 
                                required 
                                name="payfrequency" 
                                [(ngModel)]="income.payFrequency">
                            <option value="" disabled selected>Select</option>
                            <option>Weekly</option>
                            <option>Bi-Weekly</option>
                            <option>Semi-Monthly</option>
                            <option>Monthly</option>
                        </select>
                        <div style="padding-top: 5px; font-size: 12px; font-style: italic;" *ngIf="payFrequency.invalid && (payFrequency.dirty || payFrequency.touched)" [hidden]="payFrequency.valid">
                            <div *ngIf="payFrequency.errors.required">This field is required</div>
                        </div>
                    </div>
                </div>-->
                <div class='col-xs-12 col-sm-12'>
                    <div class="form-group">
                        <label class="control-label" for="netamount">Net Monthly Amount 
                            <a style="cursor:pointer"
                                ngbTooltip="Monthly take home pay is the amount you receive after tax and deductions. If you are paid weekly, multiply your weekly pay by 4.33 to calculate your monthly pay.">
                                <span style="margin-left: 5px" class="glyphicon glyphicon-question-sign"></span>
                            </a>
                        </label>
                        <input class="form-control input-md"
                                id="monthlyAmount"
                                validateMonthlyAmount
                                (keyup)="forceNumeric($event)" 
                                #netAmount="ngModel" 
                                required
                                uppercase
                                minlength="3"
                                name="netAmount" 
                                type="text" 
                                placeholder="Minimum $500" 
                                [(ngModel)]="income.netAmount">
                        <!--<select class="form-control input-md" 
                                #netAmount="ngModel" 
                                required 
                                name="netAmount" 
                                [(ngModel)]="income.netAmount">
                            <option value="" disabled selected>Select</option>
                            <option value="250">$500 or less</option>
                            <option value="675">$501 - $750</option>
                            <option value="900">$751 - $1,000</option>
                            <option value="1150">$1,001 - $1,250</option>
                            <option value="1400">$1,251 - $1,500</option>
                            <option value="1700">$1,501 - $1,750</option>
                            <option value="1875">$1,751 - $2,000</option>
                            <option value="2175">$2,001 - $2,250</option>
                            <option value="2375">$2,251 - $2,500</option>
                            <option value="2675">$2,501 - $2,750</option>
                            <option value="2875">$2,751 - $3,000</option>
                            <option value="3125">$3,001 - $3,250</option>
                            <option value="3375">$3,251 - $3,500</option>
                            <option value="3675">$3,501 - $3,750</option>
                            <option value="3875">$3,751 - $4,000</option>
                            <option value="4125">$4,001 - $4,250</option>
                            <option value="4375">$4,251 - $4,500</option>
                            <option value="4675">$4,501 - $4,750</option>
                            <option value="4875">$4,751 - $5,000</option>
                            <option value="5000">$5,000 +</option>
                        </select>-->
                        <div style="padding-top: 5px; font-size: 12px; font-style: italic;" *ngIf="netAmount.invalid && (netAmount.dirty || netAmount.touched)" [hidden]="netAmount.valid">
                            <div *ngIf="netAmount.errors.required">This field is required</div>
                            <div *ngIf="netAmount.invalid">Minimum monthly amount is $500, only enter numbers</div>
                        </div>
                    </div>
                </div>
                <div class='col-xs-12 col-sm-12'>
                    <div class="form-group">
                        <label class="control-label" for="jobtitle">Job Title</label>
                        <input class="form-control input-md" 
                                #jobTitle="ngModel" 
                                required
                                uppercase
                                minlength="3" 
                                name="jobtitle" 
                                type="text" 
                                placeholder="Job Title" 
                                [(ngModel)]="income.jobTitle">
                        <div style="padding-top: 5px; font-size: 12px; font-style: italic;" *ngIf="jobTitle.invalid && (jobTitle.dirty || jobTitle.touched)" [hidden]="jobTitle.valid">
                            <div *ngIf="jobTitle.errors.required">This field is required</div>
                            <div *ngIf="jobTitle.errors.minlength">Must be at least 3 characters</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group text-center">
            <div class="text-danger" style="clear:both;">
                <span class="glyphicon glyphicon-info-sign" style="margin-right: 5px;"></span>All fields must be filled in before proceeding
            </div>
            <button class="btn btn-outline-rounded btn-default" (click)="goToPrevious(incomeForm)"> <span style="margin-right:10px;" class="glyphicon glyphicon-arrow-left"></span> Previous</button>
            <button class="btn btn-success btn-outline-rounded btn-info" [disabled]="!incomeForm.valid" (click)="goToNext(incomeForm)"> Next <span style="margin-left:10px;" class="glyphicon glyphicon-arrow-right"></span></button>
        </div>
    </div>               
</form>
