<form #incomeForm="ngForm" name="incomeForm" class="editForm" novalidate>
    <div class="tab-pane fade in active">
        <h4 class="head text-center">{{title}}</h4>
        <br/>
        <div class='col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-10'>
            <div class='row'>
                <div class='col-xs-12 col-sm-4'>
                    <div class="form-group">
                        <label class="control-label" for="incomeSource">Income Source</label>
                        <select class="form-control input-md"
                                #incomeSource="ngModel" 
                                required name="incomesource" 
                                [(ngModel)]="income.incomeSource">
                            <option value="" disabled selected>Select</option>
                            <option value="EmployedFullTime">Employed Full Time</option>
                            <option value="EmployedPartTime">Employed Part Time</option>
                            <option value="EmployedTemporary">Employed Temporary</option>
                            <option value="SelfEmployed">Self Employed</option>
                            <option value="Benefits">Benefits</option>
                            <option value="DisabilityBenefits">Disability Benefits</option>
                            <option value="Pension">Pension</option>
                        </select>
                        <div style="padding-top: 5px; font-size: 12px; font-style: italic;" *ngIf="incomeSource.invalid && (incomeSource.dirty || incomeSource.touched)" [hidden]="incomeSource.valid">
                            <div *ngIf="incomeSource.errors.required">This field is required</div>
                        </div>
                    </div>
                </div>
                <div 
                *ngIf="incomeSource.value == 'EmployedFullTime' || incomeSource.value == 'EmployedPartTime' || incomeSource.value == 'EmployedTemporary' || incomeSource.value == 'SelfEmployed'"
                >
                    <div class='col-xs-12 col-sm-4'>
                        <div class="form-group">
                            <label class="control-label" for="workphone">Employer Name</label>
                            <input class="form-control input-md"
                                    #employerName="ngModel" 
                                    required name="employername"
                                    type="text" 
                                    placeholder="Employer name" 
                                    [(ngModel)]="income.employerName">
                            <div style="padding-top: 5px; font-size: 12px; font-style: italic;" *ngIf="employerName.invalid && (employerName.dirty || employerName.touched)" [hidden]="employerName.valid">
                                <div *ngIf="employerName.errors.required">This field is required</div>
                            </div>
                        </div>
                    </div>
                    <div class='col-xs-12 col-sm-4'>
                        <div class="form-group">
                            <label class="control-label" for="paymentType">Payment Type</label>
                            <select class="form-control input-md" 
                                    #paymentType="ngModel" 
                                    required 
                                    name="paymentType" 
                                    [(ngModel)]="income.paymentType">
                            <option value="" disabled selected>Select</option>
                            <option value="RegionalDirectDeposit">Direct Deposit (US Bank)</option>
                            <option value="NonRegionalDirectDeposit">Direct Deposit (Other country)</option>
                            <option value="Cheque">Check</option>
                            <option value="Cash">Cash</option>
                            </select>
                            <div style="padding-top: 5px; font-size: 12px; font-style: italic;" *ngIf="paymentType.invalid && (paymentType.dirty || paymentType.touched)" [hidden]="paymentType.valid">
                                <div *ngIf="paymentType.errors.required">This field is required</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="incomeSource.value == 'EmployedFullTime' || incomeSource.value == 'EmployedPartTime' || incomeSource.value == 'EmployedTemporary' || incomeSource.value == 'SelfEmployed'">
                <div class="row"> 
                    <div class='col-xs-12 col-sm-12'>
                        <label class="control-label" for="employmentTime">Time at employer</label>
                    </div>
                        <div class="form-group">
                            <div class='col-xs-12 col-sm-6 half-width' style="margin-bottom: 15px;">
                                <select class="form-control input-md" 
                                        #employmentYears="ngModel" 
                                        required 
                                        name="employmentyears" 
                                        [(ngModel)]="income.employmentYears">
                                    <option value="" disabled selected>Years</option>
                                    <option value="0">0</option>
                                    <option value="1">1 year</option>
                                    <option value="2">2 years</option>
                                    <option value="3">3 years</option>
                                    <option value="4">4 years</option>
                                    <option value="5">5 years</option>
                                    <option value="6">6 years</option>
                                    <option value="7">7 years</option>
                                    <option value="8">8 years</option>
                                    <option value="9">9 years</option>
                                    <option value="10">10+ years</option>
                                </select>
                            <div style="padding-top: 5px; font-size: 12px; font-style: italic;" *ngIf="employmentYears.invalid && (employmentYears.dirty || employmentYears.touched)" [hidden]="employmentYears.valid">
                                <div *ngIf="employmentYears.errors.required">This field is required</div>
                            </div>
                            </div>
                            <div class='col-xs-12 col-sm-6 half-width' style="margin-bottom: 15px;">
                                <select class="form-control input-md" 
                                        #employmentMonths="ngModel" 
                                        required 
                                        name="employmentmonths" 
                                        [(ngModel)]="income.employmentMonths">
                                    <option value="" disabled selected>Months</option>
                                    <option value="0">0</option>
                                    <option value="1">1 month</option>
                                    <option value="2">2 months</option>
                                    <option value="3">3 months</option>
                                    <option value="4">4 months</option>
                                    <option value="5">5 months</option>
                                    <option value="6">6 months</option>
                                    <option value="7">7 months</option>
                                    <option value="8">8 months</option>
                                    <option value="9">9 months</option>
                                    <option value="10">10 months</option>
                                    <option value="11">11 months</option>
                                </select>
                                <div style="padding-top: 5px; font-size: 12px; font-style: italic;" *ngIf="employmentMonths.invalid && (employmentMonths.dirty || employmentMonths.touched)" [hidden]="employmentMonths.valid">
                                    <div *ngIf="employmentMonths.errors.required">This field is required</div>
                                </div>
                            </div>
                        </div>           
                </div>
            </div>
            <div class="row">
                <div class='col-xs-12 col-sm-4'>
                    <div class="form-group">
                        <label class="control-label" for="payFrequency">Pay Frequency</label>
                        <select class="form-control input-md" 
                                #payFrequency="ngModel" 
                                required 
                                name="payfrequency" 
                                [(ngModel)]="income.payFrequency">
                            <option value="" disabled selected>Select</option>
                            <option>Weekly</option>
                            <option>Bi-Weekly</option>
                            <option>Semi-Monthly</option>
                            <option>Monthly</option>
                        </select>
                        <div style="padding-top: 5px; font-size: 12px; font-style: italic;" *ngIf="payFrequency.invalid && (payFrequency.dirty || payFrequency.touched)" [hidden]="payFrequency.valid">
                            <div *ngIf="payFrequency.errors.required">This field is required</div>
                        </div>
                    </div>
                </div>
                <div class='col-xs-12 col-sm-4'>
                    <div class="form-group">
                        <label class="control-label" for="netamount">Net Monthly Amount</label>
                        <select class="form-control input-md" 
                                #netAmount="ngModel" 
                                required 
                                name="netAmount" 
                                [(ngModel)]="income.netAmount">
                            <option value="" disabled selected>Select</option>
                            <option value="250">$500 or less</option>
                            <option value="675">$501 - $750</option>
                            <option value="900">$751 - $1,000</option>
                            <option value="1150">$1,001 - $1,250</option>
                            <option value="1400">$1,251 - $1,500</option>
                            <option value="1700">$1,501 - $1,750</option>
                            <option value="1875">$1,751 - $2,000</option>
                            <option value="2175">$2,001 - $2,250</option>
                            <option value="2375">$2,251 - $2,500</option>
                            <option value="2675">$2,501 - $2,750</option>
                            <option value="2875">$2,751 - $3,000</option>
                            <option value="3125">$3,001 - $3,250</option>
                            <option value="3375">$3,251 - $3,500</option>
                            <option value="3675">$3,501 - $3,750</option>
                            <option value="3875">$3,751 - $4,000</option>
                            <option value="4125">$4,001 - $4,250</option>
                            <option value="4375">$4,251 - $4,500</option>
                            <option value="4675">$4,501 - $4,750</option>
                            <option value="4875">$4,751 - $5,000</option>
                            <option value="5000">$5,000 +</option>
                        </select>
                        <div style="padding-top: 5px; font-size: 12px; font-style: italic;" *ngIf="netAmount.invalid && (netAmount.dirty || netAmount.touched)" [hidden]="netAmount.valid">
                            <div *ngIf="netAmount.errors.required">This field is required</div>
                        </div>
                    </div>
                </div>
                <div class='col-xs-12 col-sm-4'>
                    <div class="form-group">
                        <label class="control-label" for="jobtitle">Job Title</label>
                        <input class="form-control input-md" 
                                #jobTitle="ngModel" 
                                required
                                uppercase
                                minlength="3" 
                                name="jobtitle" 
                                type="text" 
                                placeholder="Job Title" 
                                [(ngModel)]="income.jobTitle">
                        <div style="padding-top: 5px; font-size: 12px; font-style: italic;" *ngIf="jobTitle.invalid && (jobTitle.dirty || jobTitle.touched)" [hidden]="jobTitle.valid">
                            <div *ngIf="jobTitle.errors.required">This field is required</div>
                            <div *ngIf="jobTitle.errors.minlength">Must be at least 3 characters</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group text-center">
            <button class="btn btn-outline-rounded btn-default" (click)="goToPrevious(incomeForm)"> <span style="margin-right:10px;" class="glyphicon glyphicon-arrow-left"></span> Previous</button>
            <button class="btn btn-success btn-outline-rounded btn-info" [disabled]="!incomeForm.valid" (click)="goToNext(incomeForm)"> Next <span style="margin-left:10px;" class="glyphicon glyphicon-arrow-right"></span></button>
        </div>
    </div>               
</form>
